<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
    <div class="form-floating">
      {{ form.header }}
      <label for="{{ form.header.label }}">{{ form.header.label }}</label>
      {% for error in form.header.errors %}
        <p class="mt-3 text-danger">{{ error }}</p>
      {% endfor %}
    </div>
  </div>
  <div class="col-sm-2 col-md-2 col-lg-2">
    <div class="form-floating">
      {{ form.type }}
      <label for="{{ form.type.label }}">{{ form.type.label }}</label>
      {% for error in form.type.errors %}
        <p class="mt-3 text-danger">{{ error }}</p>
      {% endfor %}
    </div>
  </div>

  {% if form.type.value == "i" %}
    <div class="col-sm-1 col-md-1 col-lg-1">
      <div class="form-floating">
        {{ form.start_integer }}
        <label for="{{ form.start_integer.label }}">{{ form.start_integer.label }}</label>
        {% for error in form.start_integer.errors %}
          <p class="mt-3 text-danger">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1">
      <div class="form-floating">
        {{ form.end_integer }}
        <label for="{{ form.end_integer.label }}">{{ form.end_integer.label }}</label>
        {% for error in form.end_integer.errors %}
          <p class="mt-3 text-danger">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
  {% elif form.type.value == "t" %}
    <div class="col-sm-2 col-md-2 col-lg-2">
      <div class="form-floating">
        {{ form.sentences }}
        <label for="{{ form.sentences.label }}">{{ form.sentences.label }}</label>
        {% for error in form.sentences.errors %}
          <p class="mt-3 text-danger">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="col-sm-2 col-md-2 col-lg-2"></div>
  {% endif %}
  <div class="col-sm-2 col-md-2 col-lg-2">
    <div class="form-floating">
      {{ form.order }}
      <label for="{{ form.order.label }}">{{ form.order.label }}</label>
      {% for error in form.order.errors %}
        <p class="mt-3 text-danger">{{ error }}</p>
      {% endfor %}
    </div>
  </div>
  <div class="col-sm-2 col-md-2 col-lg-2">
    <button class="btn btn-outline-danger text-dark mt-4" name="button" value="{{ forloop.counter0 }}">
      Delete column
    </button>
  </div>
  {% if forloop.last %}
    {% csrf_token %}

    <div class="row mt-3">
      <div class="col-sm-1 col-md-1 col-lg-1">
        <button class="btn btn-primary text-st" type="submit" name="button" value="submit">Submit</button>
      </div>
      <div class="col-sm-9 col-md-9 col-lg-9"></div>
      <div class="col-sm-2 col-md-2 col-lg-2 ">
        <button class="btn btn-outline-success text-dark ms-5" name="button" value="add">New column</button>
      </div>
    </div>

    </div>
  {% endif %}
